/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FASTQC' {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}_${meta.run_id}_raw" }
        publishDir = [
            path: { "${params.outdir}/fastqc/raw" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,zip}',
        ]
    }

    withName: 'FASTQC_TRIMMED' {
        ext.args = '--quiet'
        ext.prefix = { "${meta.id}_${meta.run_id}_trimmed" }
        publishDir = [
            path: { "${params.outdir}/fastqc/trimmed" },
            mode: params.publish_dir_mode,
            pattern: '*.{html,zip}',
        ]
    }

    withName: 'FASTP' {
        ext.args = [
            "--length_required $params.shotgun_preprocessing_min_read_length",
            "-q $params.shotgun_preprocessing_fastp_qualified_quality_phred",
            params.shotgun_preprocessing_fastp_cut_tail ? "--cut_tail" : ""
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_${meta.run_id}" }
    }

    withName: 'BOWTIE2_ALIGN' {
        ext.prefix = { "${meta.id}_${meta.run_id}" }
        ext.args = { params.shotgun_host_removal_bowtie2_very_sensitive ? "--very-sensitive" : "" }
    }

    withName: 'SAMTOOLS_VIEW' {
        ext.args = '-f 12'
        ext.prefix = { "${meta.id}_${meta.run_id}.unmapped" }
    }

    withName: 'SAMTOOLS_FASTQ' {
        ext.prefix = { "${meta.id}_${meta.run_id}" }
    }

    withName: 'SAMTOOLS_STATS' {
        ext.prefix = { "${meta.id}_${meta.run_id}" }
    }

    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = { "${meta.ref_db_params}" }
        ext.prefix = { params.shotgun_do_run_merging ? "${meta.id}" : "${meta.id}_${meta.run_id}" }
    }

    withName: 'KRAKENTOOLS_EXTRACTKRAKENREADS' {
        ext.args = [
            params.shotgun_kraken2_filtering_mode == "exclude" ? "--exclude" : "",
            params.shotgun_kraken2_filtering_include_parents ? "--include-parents" : "",
            params.shotgun_kraken2_filtering_include_children ? "--include-children" : "",
            "--fastq-output"
        ].join(' ').trim()
    }

    withName: 'KRAKEN2_FILTERED' {
        ext.args = { "${meta.ref_db_params}" }
        ext.prefix = { params.shotgun_do_run_merging ? "${meta.id}" : "${meta.id}_${meta.run_id}" }
    }

    withName: 'KRAKENTOOLS_EXTRACTKRAKENREADS' {
        ext.args = [
            params.kraken2_filtering_mode == "exclude" ? "--exclude" : "",
            params.kraken2_filtering_include_parents ? "--include-parents" : "",
            params.kraken2_filtering_include_children ? "--include-children" : "",
            "--fastq-output"
        ].join(' ').trim()
    }

    withName: 'KRAKEN2_FILTERED' {
        ext.args = { "${meta.ref_db_params}" }
        ext.prefix = { params.do_run_merging ? "${meta.id}" : "${meta.id}_${meta.run_id}" }
    }

    withName: 'BRACKEN_BRACKEN' {
        ext.args = { "${meta.ref_db_params}" }
        ext.prefix = { params.shotgun_do_run_merging ? "${meta.id}" : "${meta.id}_${meta.run_id}" }
    }

    withName: 'TAXPASTA_STANDARDISE' {
        ext.prefix = { "${meta.tool}_${meta.id}"}
        ext.args = {
            [
                params.shotgun_taxpasta_add_name ? "--add-name" : "",
                params.shotgun_taxpasta_add_rank ? "--add-rank" : "",
                params.shotgun_taxpasta_add_lineage ? "--add-lineage" : "",
                params.shotgun_taxpasta_add_id_lineage ? "--add-id-lineage" : "",
                params.shotgun_taxpasta_add_rank_lineage ? "--add-rank-lineage" : ""
            ].join(' ').trim()
        }
    }

    withName: 'CUTADAPT' {
        ext.prefix = { "${meta.id}_${meta.run_id}" }
        ext.args = [
            "-m 1",
            "-g ${params.amplicon_forward_primer}",
            params.amplicon_paired_end_data ? "-G ${params.amplicon_reverse_primer}" : "",
            "-O ${params.amplicon_minimum_primer_overlap}",
            "-e ${params.amplicon_maximum_primer_error_rate}"
        ].join(' ').trim()
    }

    withName: 'DADA2_QUALITY_PROFILE_PRE' {
        ext.prefix = { "${meta}_pre" }
        ext.args = "aggregate = TRUE"
        publishDir = [
            path: { "${params.outdir}/dada2/quality_profile" },
            mode: params.publish_dir_mode,
            pattern: "*.png"
        ]
    }

    withName: 'DADA2_FILTER_AND_TRIM' {
        ext.prefix = { "${meta.id}_${meta.run_id}" }
        ext.args = [
            params.amplicon_trim_left > 0 ? "trimLeft = ${params.amplicon_trim_left}" : "",
            params.amplicon_trim_right > 0 ? "trimRight = ${params.amplicon_trim_right}" : "",
            "truncQ = ${params.amplicon_truncate_below_read_quality}",
            params.amplicon_maximum_length_before_trimming == -1 ? "maxLen = Inf" : "maxLen = ${params.amplicon_maximum_length_before_trimming}",
            "minLen = ${params.amplicon_minimum_length_after_trimming}",
            params.amplicon_maximum_expected_error == -1 ? 
                params.amplicon_paired_end_data ? "maxEE = c(Inf, Inf)" : "maxEE = Inf" :
                params.amplicon_paired_end_data ? "maxEE = ${params.amplicon_maximum_expected_error}" : "maxEE = c(${params.amplicon_maximum_expected_error}, ${params.amplicon_maximum_expected_error})"
        ].join(', ').replaceAll('(, )*$', '')
        publishDir = [
            path: { "${params.outdir}/dada2/filtered_and_trimmed_reads" },
            mode: params.publish_dir_mode,
            pattern: "*.gz"
        ]
    }

    withName: 'DADA2_QUALITY_PROFILE_POST' {
        ext.prefix = { "${meta}_post" }
        ext.args = "aggregate = TRUE"
        publishDir = [
            path: { "${params.outdir}/dada2/quality_profile" },
            mode: params.publish_dir_mode,
            pattern: "*.png"
        ]
    }

    withName: 'DADA2_ERROR_MODEL' {
        ext.prefix = { "${meta.run_id}" }
        ext.args = "randomize = TRUE"
        publishDir = [
            path: { "${params.outdir}/dada2/error_model" },
            mode: params.publish_dir_mode,
            pattern: "*.png"
        ]
    }

    withName: 'DADA2_DENOISE' {
        ext.prefix = { "${meta.run_id}" }
        ext.args = "pool = FALSE"
        ext.args2 = "match = 1, mismatch = -64, gap = -64, minOverlap = 12, maxMismatch = 0"
        publishDir = [
            path: { "${params.outdir}/dada2/denoise" },
            mode: params.publish_dir_mode,
            pattern: "*.rds"
        ]
    }

    withName: 'DADA2_REMOVE_CHIMERAS' {
        ext.prefix = { "${meta.run_id}" }
        ext.args = 'minParentAbundance = 8, verbose = TRUE'
        publishDir = [
            path: { "${params.outdir}/dada2" },
            mode: params.publish_dir_mode,
            pattern: "*.rds"
        ]
    }

    withName: 'DADA2_CLASSIFY_TAXONOMY' {
        ext.args = [
            "minBoot = ${params.amplicon_taxonomic_classification_dada2_min_boot}",
            "verbose = TRUE"
        ].join(', ')
    }

    withName: 'DADA2_ADD_SPECIES' {
        ext.args = [
            params.amplicon_taxonomic_classification_species_multiple ? "allowMultiple = TRUE" : "",
            "verbose = TRUE"
        ].join(', ').replaceAll('(, )*$', '')
    }

    withName: 'QIIME2_CLASSIFY_TAXONOMY' {
        publishDir = [
            path: { "${params.outdir}/qiime2/taxonomy" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'QIIME2_SEPP' {
        publishDir = [
            path: { "${params.outdir}/qiime2/sepp" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'QIIME2_EXPORT_TAXONOMY_ABSOLUTE' {
        publishDir = [
            path: { "${params.outdir}/qiime2/taxonomy_absolute" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'QIIME2_EXPORT_TAXONOMY_RELATIVE' {
        publishDir = [
            path: { "${params.outdir}/qiime2/taxonomy_relative" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'QIIME2_EXPORT_SEQUENCES_RELATIVE' {
        publishDir = [
            path: { "${params.outdir}/qiime2/sequences_relative" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'QIIME2_EXPORT_SEQUENCES_ABSOLUTE' {
        publishDir = [
            path: { "${params.outdir}/qiime2/sequences_absolute" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'QIIME2_ALPHA_DIVERSITY' {
        publishDir = [
            path: { "${params.outdir}/qiime2/alpha_diversity" },
            mode: params.publish_dir_mode,
            pattern: "*{.qza,.tsv}"
        ]
    }

    withName: 'QIIME2_BETA_DIVERSITY' {
        publishDir = [
            path: { "${params.outdir}/qiime2/beta_diversity" },
            mode: params.publish_dir_mode,
            pattern: "*{.qza,.tsv}"
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
