/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run ucsd-cmi/compass -profile test_amplicon,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Amplicon test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function for amplicon samples'

    // Input data
    input           = params.pipelines_testdata_base_path + 'samplesheet-amplicon.csv'
    ref_databases   = params.pipelines_testdata_base_path + 'ref_databases-amplicon.csv'

    workflow_mode                                       = "amplicon"
    amplicon_paired_end_data                            = false
    amplicon_do_cutadapt                                = false
    amplicon_calculate_trunclen                         = false
    amplicon_trim_left                                  = 24
    amplicon_trim_right                                 = 24
    amplicon_truncate_below_read_quality                = 0
    amplicon_minimum_length_after_trimming              = 0
    amplicon_do_taxonomic_classification_dada2          = true
    amplicon_do_taxonomic_classification_dada2_species  = false
    amplicon_do_taxonomic_classification_qiime2         = false
    amplicon_do_phylogenetic_placement                  = false
    amplicon_taxonomy_for_analysis                      = "dada2"
    amplicon_do_alpha_diversity_phylogenetic            = false
    amplicon_do_beta_diversity_phylogenetic             = false
}
